/* public/css/profileStyle.css */
body {
    font-family: 'Roboto Slab', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#logo {
    height: 90px;
}


.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.header-links a:hover {
    color: #bbb;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 20px;
}

.profile-icon:hover {
    opacity: 0.8;
}

.profile-container {
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.bets-section {
    margin-bottom: 30px;
}

.bets-section h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.change-password-section, .delete-account-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #444;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

input[type="password"]:focus {
    border-color: #333;
    outline: none;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.admin-link-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.admin-link {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.admin-link:hover {
    background-color: #666;
}
